body {
    font-family: 'STIX Two Text', serif;
}

.container {
    border: solid rgb(202, 201, 201) 1px;
    border-radius: 3px;
    width: 600px;
    margin: 20px auto;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.title {
    grid-column: 2;
}

form {
    padding: 0 0 20px;
    grid-column: 1 / -1;
    grid-row-start: 3;
}

.input-btn {
    width: 500px;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    padding: 10px;
}

.report {
    background-color: rgb(41, 41, 41);
    color: white;
    grid-column: 1 / -1;
    grid-row-start: 5;
    border: inherit;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#tasks {
    grid-column: 1 / -1;
    grid-row-start: 4;
    width: 100%;
    list-style-type: none;
}

.done {
    text-decoration: line-through;
    color: gray;
}

.task {
    padding: 5px;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    width: 90%;
    padding: .25em;
    margin: .25em;
}

#clean-btn {
    color: white;
    text-decoration: none;
    margin: auto 0;
}